/* common_general_rules */
.container_major {
	width: 1170px;
	height: 100%;
	margin: auto;
	text-align: center;
}
/* /common_general_rules */

/* debug */
.debug #site_header {
	height: 100px;
	background-color: #2c3e50;
}

.debug #site_main {
	height: 3000px;
	background-color: rgba(240, 217, 217, 0.103);
}

.debug #site_footer {
	height: 340px;
	background-color: #3a546d21;
}

.debug .jumbotron {
	height: 580px;
	background-color: #1abc9c57;
}

.debug .portfolio {
	height: 890px;
	background-color: #79c4e256;
}

.debug .about {
	height: 490px;
	background-color: #cd9fe256;
}

.debug .contact {
	height: 700px;
	background-color: #f08a9856;
}

.debug .location {
	height: 230px;
	background-color: #e2cb9f48;
}

.debug .copyright {
	height: 110px;
	background-color: #f0e98a49;
}
/* /debug */

/********** 
#SITE_HEADER 
**********/
#site_header {
	background-color: #2c3e50;
}

.bg {
	background-color: #2c3e50 !important;
}

.color a,
h1,
span {
	color: #fff !important;
}

.font_25 {
	font-size: 25px;
}

.font_20 a {
	font-size: 20px;
}
/********** 
/#SITE_HEADER 
**********/

/********** 
#SITE_MAIN
**********/

/* .jumbotron */
.jumbotron {
	background-color: #1abc9c;
}

.jumbotron > .container_major {
	padding: 5rem 0;
}

.jumbotron img {
	height: auto;
	max-width: 20%;
}

.star {
	filter: invert(1);
	font-size: 25px;
	padding: 0.5rem 0;
}
/* /.jumbotron */

/********** 
/#SITE_MAIN
**********/

/********** 
#SITE_FOOTER
**********/

/********** 
/#SITE_FOOTER
**********/
